<%- include('partials/header') %>
<body>
  <div class="p-5 text-center">
    <h1 class="p-5">
      console.log(myFeelings)
    </h1>
    <p id="prompt" class="col-lg-8 mx-auto fs-5 text-muted pt-5">
      Placeholder question that will rotate when the person clicks submit
    </p>
    <div class="mb-3">
      <textarea class="form-control" id="answer"></textarea>
    </div>
    <div class="d-inline-flex gap-2 mb-5">
      <button
        class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
        type="button"
        href="/create"
      >
        Submit</button>



      <!-- <h2>Your Posts</h2>

      
      <ul class="post-list">
        <% posts.forEach(post => { %>
        <li>
          <h3><a href="/post/<%= post.id %>"><%= post.title %></a></h3>
          <p><%= post.content.substring(0, 100) %>...</p>
          <div class="actions">
            <a href="/edit/<%= post.id %>">Edit</a>
            <form
              action="/delete/<%= post.id %>"
              method="POST"
            >
              <button type="submit">Delete</button>
            </form>
          </div>
        </li>
        <% }) %>
      </ul>
      -->



      
    </div>
  </div>
  <%- include('partials/footer') %>

